@use '../../styles/mixins.scss' as *;

.section {
  padding: 120px 97px;

  @include tablet {
    padding: 90px 67px;
  }

  @media screen and (max-width: 780px) {
    margin-bottom: 4.32vw;
  }
  @include mobile {
    padding: 70px 30px 224px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 31px 31px 31px 66px;
  border-radius: 30px;
  background: #141416;

  @include tablet {
    padding: 23px 23px 23px 47px;
    border-radius: 22px;
  }
  @media screen and (max-width: 780px) {
    flex-direction: column;
    padding: 22px 32px 0;
    gap: 41px;
  }
  @include mobile {
    padding: 22px 30px 2.66vw;
    border-radius: 14.866px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding-top: 17px;

  @include tablet {
    padding-top: 13px;
  }
  @media screen and (max-width: 780px) {
    align-items: center;
    text-align: center;
  }
  @include mobile {
    padding-top: 0;
  }
}

.title {
  margin-bottom: 20px;
  letter-spacing: 0.45px;
  color: #fff;
  font-family: Poppins;
  font-size: 45px;
  font-weight: 600;
  font-style: normal;
  line-height: 48px;

  @include tablet {
    margin-bottom: 15px;
    letter-spacing: 0.338px;
    font-size: 33.75px;
    line-height: 36px;
  }

  @include mobile {
    margin-bottom: 9px;
    letter-spacing: 0.24px;
    font-size: 24px;
    line-height: 24px;
  }
}

.description {
  margin-bottom: 57px;
  opacity: 0.6;
  color: #d4d4d4;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 22px;

  @include tablet {
    margin-bottom: 42px;
    font-size: 15px;
    line-height: 16.5px;
  }

  @include mobile {
    margin-bottom: 22px;
    letter-spacing: 0.1px;
    font-size: 10px;
    line-height: 130%;
  }
}

.btnsRow {
  display: flex;
  gap: 24px;

  @include tablet {
    gap: 18px;
  }

  @include mobile {
    gap: 14px;
  }
}

.image {
  position: relative;
  width: 369px;
  height: 249px;
  border-radius: 12px;

  @include tablet {
    width: 263.571px;
    height: 186.75px;
  }

  @media screen and (max-width: 780px) {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    margin-bottom: -84px;
    border-radius: 9.202px;
    aspect-ratio: 251/130;
  }

  &__blur {
    display: none;

    @media screen and (max-width: 780px) {
      position: absolute;
      top: 8px;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      border-radius: 12px;
      object-fit: cover;
      filter: blur(15.404114723205566px);
    }
  }

  & img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
  }
}
