@use '../../styles/mixins.scss' as *;

.card {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 281px;
  padding: 14px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 38px 12px 60px 0px rgba(199, 199, 199, 0.6);
  gap: 20px;

  @include tablet {
    width: 210px;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 28.5px 9px 45px 0px rgba(199, 199, 199, 0.6);
    gap: 14px;
  }
}

.image {
  overflow: hidden;
  width: 253px;
  height: 253px;
  border-radius: 24px;
  aspect-ratio: 1/1;

  @include tablet {
    width: 190px;
    height: 190px;
  }
}

.counter {
  position: absolute;
  top: 28px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  padding: 10px 3px;

  color: #fff;
  border: 1.176px solid rgba(28, 29, 32, 0.08);
  border-radius: 10px;
  background: rgba(28, 29, 32, 0.35);
  box-shadow: 0px 4.705px 14.115px 0px rgba(28, 29, 32, 0.08);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  gap: 12px;
  backdrop-filter: blur(2.352520704269409px);

  @include tablet {
    top: 20px;
    right: 20px;
    width: 85px;
    padding: 7px 3px;
    border: 0.882px solid rgba(28, 29, 32, 0.08);
    border-radius: 7.5px;
    box-shadow: 0px 3.529px 10.586px 0px rgba(28, 29, 32, 0.08);
    font-size: 10.5px;
    gap: 9px;
    backdrop-filter: blur(1.764390468597412px);
  }
}

.info {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-direction: column;
  gap: 20px;

  @include tablet {
    gap: 14px;
  }
}

.infoRow {
  display: flex;
  align-items: center;
  align-self: stretch;
  justify-content: space-between;

  @include tablet {
  }
}

.title {
  color: #141416;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 24px;

  @include tablet {
    font-size: 16px;
    line-height: 18px;
  }
}

.bidGroup {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0px;
  gap: 3px;

  @include tablet {
    padding: 2px 0px;
  }
}

.text {
  color: #94a3b8;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;

  @include tablet {
    font-size: 11px;
  }
}

.bid {
  display: flex;
  align-items: center;
  gap: 4px;

  @include tablet {
    gap: 3px;
  }
}
